/************************* BASICS 
**********************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

input {
  margin: 0; }

em {
  font-style: italic; }

body {
  font-size: 1em;
  line-height: 1.5em;
  color: #444;
  font-family: 'Segoe UI', Verdana, Arial, sans-serif;
  text-align: left; }

a {
  color: #000;
  text-decoration: underline;
  }

a:hover {
  color: #000;
  text-decoration: none; 
   }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  font-family: Georgia, serif }

h1 {
  font-size: 2.5em;
  line-height: 1.2em; }

h2 {
  font-size: 1.75em;
  line-height: 1.715em; }

h3 {
  font-size: 1.25em;
  line-height: 1em;
  margin-bottom: .5em;
  font-weight: bold; }

h4 {
  font-weight: bold; }

p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  text-align: left;
  text-shadow: 0 1px 0 #fff; }

p + ul, p + ol {
  padding-top: 0; }

ul, ol {
  padding: 1.5em 0; }

li{
margin-bottom: .5em;
}

ul li:last-child{
margin-bottom: 0;
}

blockquote {
  padding: .75em 1.5em; }

pre {
  margin: 1.5em 0;
  padding: .75em 1.5em;
  background: rgba(0, 0, 0, 0.1); }

.unseen {
  display: none; }


/************************* CONTENT STYLES
**********************************************/
header, nav{
	max-width: 45em;
	margin: 0 auto;
	text-align:center;
}

#tag-line{
	font-size: 28px;
	color: #000;
	margin-top: .25em;
}

#navigation{
	list-style-type: none;
}

#navigation li{
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
}

#navigation li a, header a{
	text-decoration: none;
}

#navigation li a:hover{
	text-decoratione: underline;
}

.children{
display: none;
}

#main-title{
	max-width: 45em;
	margin: 0 auto;
	margin-top: -3.5em;
	margin-bottom: 1em;
	position:relative;
}

#main-title h1{
	background:#fff;
	padding: .25em .5em;
	display: inline;
	color: #000;
}

#main-meta{
	font-style: italic;
	font-size: .9em;
}

#post-content{
	max-width: 45em;
	margin: 0 auto;
}

#main-image{
	max-width: 100%;
	max-height: 450px;
	height: auto;
	width: 100%;
	overflow:hidden;
}

#main-image img{
	width:100%;
	height: auto;
}

footer{
	max-width: 45em;
	margin: 0 auto;
	
}

.empty-image{
background:#939393;
}

/************************* BLOG
**********************************************/

.posts{
list-style-type: none;
padding: 0;
}

.posts h2{
font-size: 1.25em;
}

.posts small{
font-size: .75em;
}

.align-left{
margin: 5px 10px 5px 0;
float:left;
}


.align-right{
margin: 5px 0 5px 10px;
float:right;
}



















